body{
  margin: 0;
  padding: 0;
  background: url(Batman-logo.png) center 70px, #262626 top;
  background-repeat: repeat, no-repeat;
  background-repeat: no-repeat, no-repeat;
  font-family: verdana;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgbox{
  position: relative;
  width: 400px;
  height: 400px;
  background-size: cover;
  border: 2px solid #fff;
  overflow: hidden;
}
.imgbox img{
  width: 100%;
  transition: .5s;
}
.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: .5s;
}
.container:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateX(-100%) scale(1) skew(-45deg);
  transition: .5s;
}
.content{
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  padding: 0px;
  text-align: center;
}
.content h1{
  padding: 0;
  padding-left: 30px;
  color: #fff;
  margin-top: 20px;
  font-size: 1.5em;
  transform: translateY(-100%) scale(0);
  transition: 0.5s;
}
.content p{
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 70px;
  color: #fff;
  font-size: 1em;
  transform: scale(2);
  transition: 0.5s;
  opacity: 0;
  font-weight: bolder;
}
.imgbox:hover .content h1{
  transform: translateY(-100%) scale(1);
}
.imgbox:hover .content p{
  transform: scale(1);
  opacity: 1;
}
.imgbox:hover img{
  transform: scale(2) translateX(-80px) translateY(50px);
}
.imgbox:hover .container:before{
  opacity: 1;
  background: rgba(255,0,0,0.8);
  transform: translateX(0) scale(1) skew(-45deg);
}
